{% extends 'EIPHRBundle::/Visitor/layout.html.twig' %}
{% block content %}
<section class="content-section first">
    <div class="container">
        <h2>{{ 'about.page.title'|trans }}</h2>
    </div>
</section>
<section class='content-section saw'>
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <p>{{ 'about.design.icons'|trans|raw }}</p>
                <ul class="about-list">
                    <li><a href="http://thenounproject.com/noun/privacy/#icon-No7016" target="_blank">Privacy</a> designed by <a href="http://thenounproject.com/silkjaerdk" target="_blank">Lars Kloster Silkjær</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/sword/#icon-No1161" target="_blank">Sword</a> designed by <a href="http://thenounproject.com/mimosa.cb" target="_blank">Christopher T. Howlett</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/nuclear/#icon-No5230" target="_blank">Nuclear</a> designed by <a href="http://thenounproject.com/Mikhail1986" target="_blank">Michael Rowe</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/check-mark/#icon-No835" target="_blank">Check Mark</a> designed by <a href="http://thenounproject.com/Hrag" target="_blank">Hrag Chanchanian</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/coins/#icon-No4509" target="_blank">Coins</a> designed by <a href="http://thenounproject.com/zer0mike" target="_blank">Mike Hince</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/question/#icon-No5742" target="_blank">Question</a> designed by <a href="http://thenounproject.com/martindelin" target="_blank">Martin Delin</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/sign-up/#icon-No5506" target="_blank">Sign Up</a> designed by <a href="http://thenounproject.com/jenswindolf" target="_blank">Jens Windolf</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/user/#icon-No6150" target="_blank">User</a> designed by <a href="http://thenounproject.com/tlb" target="_blank">Thomas Le Bas</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/community/#icon-No288" target="_blank">Community</a>  from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/network/#icon-No1056" target="_blank">Network</a> designed by <a href="http://thenounproject.com/stijnjanmaat" target="_blank">Stijn Janmaat</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/handshake/#icon-No767" target="_blank">Handshake</a> designed by <a href="http://thenounproject.com/Jake_Nelsen" target="_blank">Jake Nelsen</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/water-bottle/#icon-No8482" target="_blank">Water Bottle</a> designed by <a href="http://thenounproject.com/ambarbhusari" target="_blank">Ambar Bhusari</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/crystal/#icon-No7374" target="_blank">Crystal</a> designed by <a href="http://thenounproject.com/martindelin" target="_blank">Martin Delin</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/gasoline/#icon-No2509" target="_blank">Gasoline</a> designed by <a href="http://thenounproject.com/mitchellgeere" target="_blank">Mitchell Geere</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/speed/#icon-No12193" target="_blank">Speed</a> designed by <a href="http://thenounproject.com/timboelaars" target="_blank">Tim Boelaars</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/shield/#icon-No8822" target="_blank">Shield</a> designed by <a href="http://thenounproject.com/cr" target="_blank">Chris Robinson</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/coins/#icon-No16888" target="_blank">Coins</a> designed by <a href="http://thenounproject.com/jevgeni.striganov" target="_blank">Jevgeni Striganov</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/clock/#icon-No1164" target="_blank">Clock</a> designed by <a href="http://thenounproject.com/BWH" target="_blank">Brandon Hopkins</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/lock/#icon-No11923" target="_blank">Lock</a> designed by <a href="http://thenounproject.com/pelin" target="_blank">pelin kenez</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/lock/#icon-No4275" target="_blank">Construction</a> designed by <a href="http://thenounproject.com/ochaavmupelin" target="_blank">OCHA AMVU</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/circle/#icon-No20874" target="_blank">Circle</a> designed by <a href="http://thenounproject.com/Luboš Volkov" target="_blank">Luboš Volkov</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/man/#icon-No3899" target="_blank">Man</a> designed by <a href="http://thenounproject.com/MikeMcChillin" target="_blank">Michael McMillan</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/building/#icon-No5981" target="_blank">Building</a> designed by <a href="http://thenounproject.com/Nozzman" target="_blank">Bram van Rijen</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/skull/#icon-No6998" target="_blank">Skull</a> designed by <a href="http://thenounproject.com/camerpin" target="_blank">Cameron Pinegar</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/hand/#icon-No14613" target="_blank">Hand</a> designed by <a href="http://thenounproject.com/weashell" target="_blank">Veysel Kara</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/superhero/#icon-No12709" target="_blank">Superhero</a> designed by <a href="http://thenounproject.com/2moriah" target="_blank">Moriah Rich</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/star/#icon-No2889" target="_blank">Star</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/military-rank/#icon-No19954" target="_blank">Military Rank</a> designed by <a href="http://thenounproject.com/konissara" target="_blank">Kon Issara</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/military-rank/#icon-No20018" target="_blank">Military Rank</a> designed by <a href="http://thenounproject.com/konissara" target="_blank">Kon Issara</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/military-rank/#icon-No20019" target="_blank">Military Rank</a> designed by <a href="http://thenounproject.com/konissara" target="_blank">Kon Issara</a> from The Noun Project</li>
                    <li><a href="http://thenounproject.com/noun/record/#icon-No16289" target="_blank">Record</a> designed by <a href="http://thenounproject.com/etrav689" target="_blank">Evan Travelstead</a> from The Noun Project</li>
                </ul>
                <ul>
                    <li><a href="http://think0.deviantart.com/art/France-Grunge-Flag-112124762">French flag</a> by <a href="http://think0.deviantart.com/">think0</a> on DeviantArt</li>
                    <li><a href="http://think0.deviantart.com/art/Great-Britain-UK-Grunge-Flag-108958469">English flag</a> by <a href="http://think0.deviantart.com/">think0</a> on DeviantArt</li>
                </ul>
            </div>
            <div class="span4" id="about-logo">
                <img src="{{asset('bundles/eiphr/images/homepage/whitelogo.png')}}" alt="logo" />
            </div>
        </div>
    </div>
</section>
{% endblock  %}