{% extends 'EIPHRBundle::/Visitor/layout.html.twig' %}
{% block content %}
<div>
    {{ 'password.changed'|trans }}
    <div class="center">
        <a href="{{ path('hr_homepage') }}">{{ 'to.homepage'|trans }}</a>
    </div>
</div>
{% endblock %}