*{font-family: 'Segoe UI';}
h3{font-family: 'Segoe UI light';}
div.econtainer{margin-top:10%;}
div.econtainer a{display:block;margin-top:20px;margin-bottom: 20px;}
div.econtainer img{width: 300px;margin-bottom:20px;}