$headersColor:rgb(254, 102, 0);
$menuHeight: 55px;
$leftMenuCellHeight: 60px;
$leftMenuIconWidth: 60px;
$leftMenuTotalWidth: 250px;
$leftMenuBackgroundColor: #000;
$leftMenuHoverBackgroundColor:#efefef;
$leftMenuColor: #ccc;
$leftMenuHoverColor:#333;

$contentSectionColor1: #191d22;
$contentSectionColor2: #39444e;
$contentSectionColor3: #1f252a;


// menu
$menuHeight: 55px;
$leftMenuCellHeight: 60px;
$leftMenuIconWidth: 60px;
$leftMenuTotalWidth: 250px;
$leftMenuBackgroundColor: #000;
$leftMenuHoverBackgroundColor:#efefef;
$leftMenuColor: #ccc;
$leftMenuHoverColor:#333;

$queuesWidth: 250px;
$queueSelectorHeight: 40px;

$skewValue: 60deg;
$angleValue: 30deg;
$circMenuTotalWidth: 400px;
$blwidth: 200px;
//
$requirementsBackgroundColor: #cf4242;
$requirementsThumbsSize: 80px;

// thumbs
$thumbSize: 100px;
$thumbBigSize: 150px;
$thumbBorders: 2px #888 solid;
$thumbSelectedBorders: 2px #5bb75b solid;

$dangerColor:#bd362f;
$successColor:#5bb75b;
$infoColor:#49afcd;
$errorColor:#b94a48;