{% extends 'EIPHRBundle::/Admin/layout.html.twig' %}
{% block content %}

<h3>add a clan</h3>

<form method='post' action="">
    {{ form_widget(form) }}
    <input type='submit' />
</form>

{% endblock %}